<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center"> Terms & Conditions </h1>

        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime error amet sit distinctio facilis in, pariatur saepe ipsum voluptate nisi totam numquam, et aspernatur, tenetur id ipsam rerum. Consequuntur, nesciunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime error amet sit distinctio facilis in, pariatur saepe ipsum voluptate nisi totam numquam, et aspernatur, tenetur id ipsam rerum. Consequuntur, nesciunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime error amet sit distinctio facilis in, pariatur saepe ipsum voluptate nisi totam numquam, et aspernatur, tenetur id ipsam rerum. Consequuntur, nesciunt.</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme"> BACK TO HOME </button>
            </div>

        </div>
    </div>
</section>