<nav class="navbar navbar-expand-lg fixed-top">

  <div class="container">
    <div class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item ml-3"><a href="" class="nav-link">Design Patterns</a></li>
        <li class="nav-item ml-3"><a href="" class="nav-link">Java</a></li>
        <li class="nav-item ml-3"><a href="" class="nav-link">Spring</a></li>
        <li class="nav-item ml-3"><a href="" class="nav-link">Angular</a></li>
      </ul>
    </div>
  </div>

</nav>
