<div class="card mb-5 mt-5 pg-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3"> Comments  (11,205) </h4>

        <div class="comment-box mt-3">
            <h6 class="mb-0"> Ibrahima Traoere</h6>
            <small class="text-danger"> LAST UPDATED - OCT, 13 2021</small>

            <div class="met-3 mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga odio labore omnis maiores corrupti illum sit dolorem natus quod iure alias praesentium quisquam et, deleniti doloremque quae. Voluptatum, porro eveniet?
            </div>

            <a href="#" class="mt-1"> Reply </a>
            <a href="#" class="mt-1 ml-3"> View Reply </a>

            <hr>
            
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0"> Ibrahima Traoere</h6>
            <small class="text-danger"> LAST UPDATED - OCT, 13 2021</small>

            <div class="met-3 mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga odio labore omnis maiores corrupti illum sit dolorem natus quod iure alias praesentium quisquam et, deleniti doloremque quae. Voluptatum, porro eveniet?
            </div>

            <a href="#" class="mt-1"> Reply </a>
            <a href="#" class="mt-1 ml-3"> View Reply </a>

            <hr>

        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0"> Ibrahima Traoere</h6>
            <small class="text-danger"> LAST UPDATED - OCT, 13 2021</small>

            <div class="met-3 mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga odio labore omnis maiores corrupti illum sit dolorem natus quod iure alias praesentium quisquam et, deleniti doloremque quae. Voluptatum, porro eveniet?
            </div>

            <a href="#" class="mt-1"> Reply </a>
            <a href="#" class="mt-1 ml-3"> View Reply </a>

            <hr>

        </div>
    </div>
</div>