<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white"> Featured Posts</h2>
                <p class="text-white">Some people like technology</p>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <app-post-card></app-post-card>
                </div>
                <div class="col-lg-3">
                    <app-post-card></app-post-card>
                </div>
                <div class="col-lg-3">
                    <app-post-card></app-post-card>
                </div>
                <div class="col-lg-3">
                    <app-post-card></app-post-card>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="col-12 text-center">
        <h2> Latest Posts</h2>
        <p>You can see here the latest posts</p>
    </div>

    <div class="row">
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</section>