<div class="container">
    <div class="row">
        <div class="col-md-9">

            <div class="card shadow-effect">
                <img src="https://contentstatic.techgig.com/thumb/msid-93000110,width-460,resizemode-4/What-makes-Java-still-popular-among-developers.jpg?28608" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center"> Design </small>
                    <small class="bg-light text-success text-center"> Featured </small>
                    <small class="bg-light text-info text-center"> Views - 100,501 </small>
                    <small class="bg-light text-warning text-center"> LAST UPDATED - SEP 21, 2022 </small>

                    <h1 class="mt-3 mb-3">HOW TO BOOST YOUR CAREER WITH JAVA</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae exercitationem voluptatem dicta tenetur quod eum sed rem a repudiandae, quae alias nisi magnam unde laborum labore ipsam optio. Maiores, eum.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, accusantium dicta. Corporis temporibus aliquam tempora deserunt? Voluptates, eius quos quaerat culpa, corrupti quod expedita ipsam repudiandae possimus quae odit adipisci!
                    </p>
                </div>
            </div>

            <app-comment-form></app-comment-form>

            <app-comment-list></app-comment-list>

        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>