
<div class="card shadow-effect">
  <img src="https://miro.medium.com/v2/resize:fit:1400/1*vFiGOTV1S8yz0RTIQteTjw.png" alt="post-image" class="card-img-top">

  <div class="card-body">
    <small class="bg-light text-danger text-center"> Design </small>
    <small class="bg-light text-success text-center ml-3"> Featured </small>
    <small class="bg-light text-info text-center ml-3"> Views - 100,133 </small>

    <h5 class="mt-1"> How TO GET STARTED WITH SPRING </h5>
    <p>In this blog I will tell you about my first day working with spring as backend developer</p>

    <small class="bg-light text-warning text-center ml-3"> LAST UPDATED - SEP 20, 2020 </small>

  </div>
</div>
